
/**
 * SA5 Nested lists
 */

// TODO: Add sk-loader
// Remove list-level tag after 

.w-richtext {

    ul > ul, ol > ol {
        margin-top: 0;
    }
    
    ul ul, ol ol {
        margin-top: 0.2rem;
    }

}

//#region THEME - Default

html:not([data-wf-mode="editor"]) 
  [wfu-list-theme=default] {

    // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type
    ol.wfu-list-level-1 {
        list-style-type: decimal;
    }

    ol.wfu-list-level-2 {
        list-style-type: lower-alpha;
    }

    ol.wfu-list-level-3 {
        list-style-type: lower-roman;
    }

    ol.wfu-list-level-4 {
        list-style-type: disc;
    }

    ol.wfu-list-level-5 {
        list-style-type: circle;
    }

}

// ul {
//     list-style: circle inside url('marker.png');
//   }
  

html:not([data-wf-mode="editor"]) 
  [wfu-list-theme=default] {

    // https://www.toptal.com/designers/htmlarrows/symbols/
    // https://caniuse.com/css-marker-pseudo
    li:has(> span.wfu-pro) {
        list-style-type: none;
    }
    li:has(> span.wfu-pro)::marker { 
        content: "\2714   "; 
        color: green;
    }

    span.wfu-pro {
        color: green;
    }

    // https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
    // https://webdesign.tutsplus.com/tutorials/next-level-list-bullets-with-css-marker--cms-37212
    // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
    li:has(> span.wfu-con) {
        list-style-type: none;
    }
    li:has(> span.wfu-con)::marker {
        content: "\2716   "; // x
        color: red;
    }

    span.wfu-con {
        color: red;
    }

}

//#endregion

//#region THEME - Modern

html:not([data-wf-mode="editor"])
  [wfu-list-theme=modern] {

    // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type
    ol.wfu-list-level-1 {
        list-style-type: decimal-leading-zero;
    }

    ol.wfu-list-level-2 {
        list-style-type: lower-alpha;
    }

    ol.wfu-list-level-3 {
        list-style-type: lower-roman;
    }

    ol.wfu-list-level-4 {
        list-style-type: disc;
    }

    ol.wfu-list-level-5 {
        list-style-type: circle;
    }

} 

html:not([data-wf-mode="editor"]) 
  [wfu-list-theme=modern] {

    // https://www.toptal.com/designers/htmlarrows/symbols/
    // https://caniuse.com/css-marker-pseudo
    li:has(> span.wfu-pro) {
        list-style-type: none;
    }
    li:has(> span.wfu-pro)::marker { 
        content: "\2191   "; // ↑ 
        color: green;
    }

    span.wfu-pro {
        color: green;
    }

    // https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
    // https://webdesign.tutsplus.com/tutorials/next-level-list-bullets-with-css-marker--cms-37212
    // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
    li:has(> span.wfu-con) {
        list-style-type: none;
    }
    li:has(> span.wfu-con)::marker {
        content: "\2193   "; // ↓
        color: red;
    }

    span.wfu-con {
        color: red;
    }

}

//#endregion

//#region THEME - Fun

html:not([data-wf-mode="editor"])
  [wfu-list-theme=fun] {

    // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type
    ol.wfu-list-level-1 {
        list-style-type: decimal-leading-zero;
    }

    ol.wfu-list-level-2 {
        list-style-type: lower-alpha;
    }

    ol.wfu-list-level-3 {
        list-style-type: lower-roman;
    }

    ol.wfu-list-level-4 {
        list-style-type: disc;
    }

    ol.wfu-list-level-5 {
        list-style-type: circle;
    }

} 

html:not([data-wf-mode="editor"]) 
  [wfu-list-theme=fun] {

    li:has(> span.wfu-pro) {
        list-style-type: none;
    }
    li:has(> span.wfu-pro)::marker { 
        content: "👍   "; 
    }

    span.wfu-pro {
//        color: green;
    }

    // https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
    // https://webdesign.tutsplus.com/tutorials/next-level-list-bullets-with-css-marker--cms-37212
    // https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
    li:has(> span.wfu-con) {
        list-style-type: none;
    }
    li:has(> span.wfu-con)::marker { 
        content: "👎   "; 
    }

    span.wfu-con {
//        color: red;
    }

}

//#endregion

// ✅ ❌ 
 
/*
 * Editor mode detection 
 */

/*

html:not([data-wf-mode="editor"]) .w-richtext ul ul, .w-richtext ol ol {
    margin-top: 0.5rem;
}

html:not([data-wf-mode="editor"]) ol .wfu-list-level-2 {
    list-style-type: lower-latin;
}

html:not([data-wf-mode="editor"]) ol .wfu-list-level-3 {
    list-style-type: lower-roman;
}

html:not([data-wf-mode="editor"]) .wfu-pro {
    list-style-type: none;
    color: green;
}

    html:not([data-wf-mode="editor"]) .wfu-pro::marker {
        content: "☑  ";
    }

html:not([data-wf-mode="editor"]) .wfu-con {
    list-style-type: none;
    color: red;
}

    html:not([data-wf-mode="editor"]) .wfu-con::marker {
        content: "☒  ";
    }


*/