
/* DEMO area styling */

.demo {
    padding: 40px;
}

    .demo:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    /* Colors */
    .demo.yellow {
        background-color: lightyellow;
    }
    .demo.green {
        background-color: lightgreen;
    }
    .demo.blue {
        background-color: lightblue;
    }
    .demo.grey {
        background-color: #F5F5F5;
    }

    .demo.nopadding {
        padding: 0;
    }

    /* Sizes */
    .demo.small {
        height: 200px;
        overflow: auto;
    }
    .demo.medium {
        max-height: 300px;
        overflow: auto;
    }
    .demo.large {
        max-height: 400px;
        overflow: auto;
    }
