
/* IMPORTANT 
   1. For this to work smoothly we need consistent specificity, so we run with; {0,0,2} 
      which is one [] plus one :nth-child()  
   2. Chrome devtools is not good at showing these 

   https://codepen.io/memetican/pen/zxYreZz/b9154a2d68ea58ac5fdd6668f4d8f4f5  
*/


$max-items: 30;


/* Default items limit (Desktop and up) */
@for $i from 1 through $max-items {
  [wfu-limit-items="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
}


/* Large Screens (1280px & above) */
@media screen and (min-width: 1280px) {
  [wfu-limit-items\:1280] > *:nth-child(n+0) { display: block; }  

  @for $i from 1 through $max-items {
      [wfu-limit-items\:1280="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
  }

}


/* Extra Large Screens (1440px & above) */
@media screen and (min-width: 1440px) {
  [wfu-limit-items\:1440] > *:nth-child(n+0) { display: block; }  

  @for $i from 1 through $max-items {
      [wfu-limit-items\:1440="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
  }

}


/* Ultra-Wide Screens (1920px & above) */
@media screen and (min-width: 1920px) {  
  [wfu-limit-items\:1920] > *:nth-child(n+0) { display: block; }   

  @for $i from 1 through $max-items {
      [wfu-limit-items\:1920="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
  }

}

/* Tablet (991px & below) */
@media screen and (max-width: 991px) {
  [wfu-limit-items\:t] > *:nth-child(n+0) { display: block; }  

  @for $i from 1 through $max-items {
      [wfu-limit-items\:t="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
  }

}


/* Mobile Landscape (767px & below) */
@media screen and (max-width: 767px) {
  [wfu-limit-items\:l] > *:nth-child(n+0) { display: block; }  

  @for $i from 1 through $max-items {
    [wfu-limit-items\:l="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
  }

}


/* Mobile Portrait (479px & below) */
@media screen and (max-width: 479px) {
  [wfu-limit-items\:p] > *:nth-child(n+0) { display: block; }  

  @for $i from 1 through $max-items {
    [wfu-limit-items\:p="#{$i}"] > *:nth-child(n+#{$i + 1}) { display: none; }
  }

}



