
/**
 * SA5 Nested lists
 */


.w-richtext ul > ul, .w-richtext ol > ol {
    margin-top: 0;
}

.w-richtext ul ul, .w-richtext ol ol {
    margin-top: 0.2rem;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type

ol .wfu-list-level-2 {
    list-style-type: decimal-leading-zero;
}

ol .wfu-list-level-3 {
    list-style-type: lower-roman;
}

.wfu-pro {
    list-style-type: none;
    color: green;
}

// https://www.toptal.com/designers/htmlarrows/symbols/
// https://caniuse.com/css-marker-pseudo
.wfu-pro::marker { // ::before
    content: "\2611   ";
}

.wfu-con {
    list-style-type: none;
    color: red;
}

// https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
// https://webdesign.tutsplus.com/tutorials/next-level-list-bullets-with-css-marker--cms-37212
// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
.wfu-con::marker {
    content: "\2612   ";
}



/*
 * Editor mode detection 
 */

html:not([data-wf-mode="editor"]) .w-richtext ul ul, .w-richtext ol ol {
    margin-top: 0.5rem;
}

html:not([data-wf-mode="editor"]) ol .wfu-list-level-2 {
    list-style-type: lower-latin;
}

html:not([data-wf-mode="editor"]) ol .wfu-list-level-3 {
    list-style-type: lower-roman;
}

html:not([data-wf-mode="editor"]) .wfu-pro {
    list-style-type: none;
    color: green;
}

    html:not([data-wf-mode="editor"]) .wfu-pro::marker {
        content: "☑  ";
    }

html:not([data-wf-mode="editor"]) .wfu-con {
    list-style-type: none;
    color: red;
}

    html:not([data-wf-mode="editor"]) .wfu-con::marker {
        content: "☒  ";
    }


