
/*
 * SCSS for Sygnal Webflow Util Track library
 */


// Temporarily hide until explicitly shown
[wfu-show-logged-in] {
    display: none; 
}
[wfu-hide-logged-in] {
    display: none;
}

// Login Button (expanded) 
[wfu-login-button] {
    cursor: pointer;  
}


