
/*
 * sCSS for Sygnal Webflow Util HTML library
 */

 
 @use 'feature/webflow-html-limit-items';


 // Temporarily hide until decoded
[wfu-decode] {
    display: none;
}

/*
 * Text trucation w/ ellipsis support
 */

// Applies to all, defaults to 1 line
[wfu-truncate] {
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

[wfu-truncate="2"] {
    -webkit-line-clamp: 2;
}

[wfu-truncate="3"] {
    -webkit-line-clamp: 3;
}

[wfu-truncate="4"] {
    -webkit-line-clamp: 4;
}

[wfu-truncate="5"] {
    -webkit-line-clamp: 5;
}


/*
[wfu-truncate]::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
*/


/*
 * Filtered elements
 * hide by default, until filter statis is determined
 */

*[wfu-filter] {
    display: none;
}

*[wfu-filter-func] {
    display: none;
}

[wfu-sort] {
  display: none;
}


/*
 * Skeleton loader
 * apply skeleton loader effect to elements targeted for parsing by WFU.
 */

@import url('https://fonts.googleapis.com/css2?family=Redacted&display=swap');

.w-richtext[wfu-lists-loading] li {
    font-family: 'Redacted', cursive;
    color: black;
    em {
        font-style: normal;
    }

    a {
        color: inherit;
    }

    display: inline-block; // contents;

    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        color: hsl(200, 20%, 80%);
    }

    100% {
        color: hsl(200, 20%, 95%);
    }
}




/*
 * Nested lists
 */

.w-richtext ul ul, .w-richtext ol ol {
    margin-top: 0.5rem;
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type

ol .wfu-list-level-2 {
    list-style-type: decimal-leading-zero;
}

ol .wfu-list-level-3 {
    list-style-type: lower-roman;
}

.wfu-pro {
    list-style-type: none;
    color: green;
}

// https://www.toptal.com/designers/htmlarrows/symbols/
// https://caniuse.com/css-marker-pseudo
.wfu-pro::marker { // ::before
    content: "\2611   ";
}

.wfu-con {
    list-style-type: none;
    color: red;
}

// https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_lists
// https://webdesign.tutsplus.com/tutorials/next-level-list-bullets-with-css-marker--cms-37212
// https://developer.mozilla.org/en-US/docs/Web/CSS/list-style
.wfu-con::marker {
    content: "\2612   ";
}



/*
 * Editor mode detection 
 */

html:not([data-wf-mode="editor"]) .w-richtext ul ul, .w-richtext ol ol {
    margin-top: 0.5rem;
}

html:not([data-wf-mode="editor"]) ol .wfu-list-level-2 {
    list-style-type: lower-latin;
}

html:not([data-wf-mode="editor"]) ol .wfu-list-level-3 {
    list-style-type: lower-roman;
}

html:not([data-wf-mode="editor"]) .wfu-pro {
    list-style-type: none;
    color: green;
}

    html:not([data-wf-mode="editor"]) .wfu-pro::marker {
        content: "☑  ";
    }

html:not([data-wf-mode="editor"]) .wfu-con {
    list-style-type: none;
    color: red;
}

    html:not([data-wf-mode="editor"]) .wfu-con::marker {
        content: "☒  ";
    }



/*
 * Hide elements on spec 
 */

// Hide elements which contain no collection list items
[wfu-hide="empty-collection-list"]:not(:has(.w-dyn-item)) {  
    display: none; 
}

/* test */ 




/*
 * HTML Table Themes 
 */


 [wfu-theme="default"] {
    table {
      border-collapse: collapse;
      margin-top: 10px;
  //    background-color: green;
      tr {
        td {
          padding: 0.2rem 1rem;
          border: 1px solid white;
          vertical-align: top; 
          margin-bottom: 5px; 
          
          p {
            line-height: 22px;
            font-size: 14px; 
  //          margin-bottom: 0; // 5px;
            
            span {
    //          line-height: 22px;
    //          font-size: 14px; 
              }
              
          }
  
          ul {
  //          margin-left: 10px;
            padding-left: 5px; // 10px;
            padding-top: 10px;
            padding-bottom: 0.2rem;
            
            li::marker {
                content: "\2043"; // "&hybull;";
                color: #2e9dff; // yellow;
            }
            
            li {
              // list-style-type: square;
                line-height: 22px;
                font-size: 14px; 
                padding-left: 1ch;
              
                span {
                }
            }
          }
          
        }}
      
      tr:nth-child(1) {
        font-weight: 800;
        background-color: rgba(255,255,255,0.2); // #333;
      }
    }
  }
  
